body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ff8533;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenedor principal */
main {
    flex: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

article {
    flex: 3;
    background-color: #fff3e6;
    padding: 15px;
    border: 1px solid #ffd9b3;
    border-radius: 5px;
}

aside {
    flex: 1;
    background-color: #ffe6cc;
    padding: 15px;
    border: 1px solid #ffc299;
    border-radius: 5px;
}

footer {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}